.flexcontainer{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}
.f1{
  width:26%;
  background-color: #ddd;
  padding: 1%;
  margin: 1%;
  flex-wrap: wrap;
}
.f2{
  width:65%;
  background-color: #ddd;
  padding: 1%;
  margin: 1%;
  flex-wrap: wrap;
}
img{
  border: 50px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.image{
  display: inline-block;
  vertical-align:middle;
  margin-left: auto;
  margin-right: auto;
}
h1,h2{
  text-align: center;
  font-style: oblique;
}
h2.summary-title {
  background: #f1f8ff;
  padding: 0 1em 0.3em 0;
  color: #ff6d1f;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: left;
}
.center-align{
  text-align:center;
}
.skills, .experience, .education,
.awards, .languages {
  margin-top: 1em;
  margin-left: 1em;
}

h2.section-title {
  background: #fff;
  padding: 0 1em 0.3em 0;
  color: #ff6d1f;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: left;
}
table {
	width: 100%;
}
table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#skill tr:nth-child(odd) {
    background-color: #fff;
}
table#skill tr:nth-child(even) {
   background-color:#f1f8ff;
}
.work-content {
    margin-top: 1.3em;
}
.work, .work-item {
    display: block;
    margin-bottom: 25px;
}
@media all and (min-width: 1025px) and (max-width: 1280px) {
  .flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .f1 {
    max-width: 30%;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .flexcontainer {
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
  }
  .f1{
    width: 100%;
    font-size: 35px;
  }
  .f2{
    width: 98%;
    font-size: 35px;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .flexcontainer {
    flex-direction: column;
  }
  .f1{
    width: 100%;
  }
  .f2{
    width: 98%;
    font-size: 35px;
  }
}

@media only screen and (min-width: 320px) and (max-width:480px) {
  .flexcontainer {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .f1 {
    width: 100%;
  }
  .f2{
    width:100%;
  }
}
